.HeaderTop {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #454F5B;
    color: #FFFFFF;
    height: 44px;
    font-size: 16px;


    
    .mainText {
        //border: 1px solid red;
    }

    .sideText {
        //border: 1px solid green;
        position: relative;

        text-decoration: underline;
    }
}