.menu {
    display: block;
    background: url("../../../../../../../assets/icons/expand_menu_arrow.svg");
    background-repeat: no-repeat;
    height: 6px;
    width: 12px;
    position: relative;
    top: 1px;
    margin-left: 8px;
}