.dropdown_wrapper {
    padding: 32px;
    min-width: fit-content;
    position: relative;
    top: 22px;
    right: 85px;
    box-shadow: 0px 4px 18px -2px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    z-index: 10;
    background: white;

    .dropdown {
        display: flex;
        justify-content: space-between;

        .left_column {
            margin-right: 120px;
            display: flex;
            flex-direction: column;

            .menu {
                width: 343px;
                display: flex;
                flex-direction: column;
                font-size: 16px;
                color: #454F5B;
                flex-shrink: 1;

                .menu_item {
                    margin-bottom: 16px;

                    .menu_item_text {
                        line-height: 26px;
                    }

                    .menu_item_text:hover {
                        border-bottom: 1px solid #4295E4;
                        color: #161C24;
                        font-family: SF_regular, sans-serif;
                    }
                }
            }

            .btn {
                width: 164px;
                height: 40px;
                background: #4295E4;
                color: #fff;
                font-size: 16px;
            }

            .btn:hover {
                background: #56A9F8;
            }

            .btn:active {
                background: #2E81D0;
            };
        }

        .right_column {
            display: flex;
            align-items: center;
            justify-content: center;
        }

    }
}